body {
    padding-top: 1px;
    padding-bottom: 1px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 1px;
    padding-right: 1px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,

